h1
{
    font: 70px / 72px Tahoma;
    font-weight: bold;
}

span.color 
{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px;
}

span.textColor 
{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 16px;
    vertical-align: middle;
    margin-right: 20px;
}